<div>
    <p></p>
    <h3>Корзина</h3>
    <p></p>
    <button class="btn btn-primary" ng-click="clearCart()">Очистить корзину</button>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Удалить</th>
            <th>ID</th>
            <th>Название</th>
            <th>Цена за шт.</th>
            <th>Количество</th>
            <th>Стоимость</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in cart.items">
            <td>
                <button class="btn btn-danger btn-sm" ng-click="deleteProductFromCart(p.productId)">╳</button>
            </td>
            <td>{{p.productId}}</td>
            <td>{{p.productTitle}}</td>
            <td>{{p.pricePerProduct}}</td>
            <td>
                <button class="btn btn-primary btn-sm" ng-click="removeItemFromCart(p.productId)">-</button>
                {{p.quantity}}
                <button class="btn btn-primary btn-sm" ng-click="addProductToCart(p.productId)">+</button>
            </td>
            <td>{{p.price}}</td>
        </tr>
        <tr>
            <td colspan="5" style="text-align: right">Общая стоимость</td>
            <td style="font-weight: bold">{{cart.totalPrice}}</td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <p></p>
    <button class="btn btn-secondary" ng-click="guestCreateOrder()" ng-show="!isUserLoggedIn()">Оформить заказ</button>
    <button class="btn btn-primary" ng-click="createOrder()" ng-show="isUserLoggedIn()">Оформить заказ</button>
    <div ng-show="cart.items.length == 0">
        <p>Ваша корзина пуста</p>
    </div>
    <p></p>
</div>
