<!doctype html>

<html ng-app="market">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="index.js"></script>
</head>

<body>

<div class="container" ng-controller="indexController">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">March Market</a>
                </li>

                <li class="nav-item" ng-show="!isUserLoggedIn()">
                    <form class="align-middle" ng-submit="tryToAuth()">
                        <div class="input-group input-group-sm" style="padding: 4px;">
                            <input id="navLoginField" class="form-control" ng-model="user.username" type="text"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                            <input id="navPasswordField" class="form-control" ng-model="user.password" type="password"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                            <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm"
                                    style="margin-left: 10px;" type="submit">Войти
                            </button>
                        </div>
                    </form>
                </li>
                <li class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">
                    <button class="btn btn-outline-secondary btn-sm" ng-click="tryToLogout()">Выйти</button>
                </li>
            </ul>
        </div>
    </nav>
    <p></p>
    <h1>March Market</h1>
    <p></p>
    <h3>Список товаров</h3>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Категория</th>
            <th>Цена</th>
            <th>Удалить</th>
            <th>Добавить в корзину</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in products">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.categoryTitle}}</td>
            <td>{{p.price}}</td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProduct(p.id)">Удалить</button>
            </td>
            <td>
                <button class="btn btn-primary" ng-click="addProductToCart(p.id)">Добавить в корзину</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <h3>Корзина</h3>
    <p></p>
    <button class="btn btn-primary" ng-click="clearCart()">Очистить корзину</button>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Удалить</th>
            <th>ID</th>
            <th>Название</th>
            <th>Цена за шт.</th>
            <th>Количество</th>
            <th>Стоимость</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in cart.items">
            <td>
                <button class="btn btn-danger btn-sm" ng-click="deleteProductFromCart(p.productId)">╳</button>
            </td>
            <td>{{p.productId}}</td>
            <td>{{p.productTitle}}</td>
            <td>{{p.pricePerProduct}}</td>
            <td>
                <button class="btn btn-primary btn-sm" ng-click="removeItemFromCart(p.productId)">-</button>
                {{p.quantity}}
                <button class="btn btn-primary btn-sm" ng-click="addProductToCart(p.productId)">+</button>
            </td>
            <td>{{p.price}}</td>
        </tr>
        <tr>
            <td colspan="5" style="text-align: right">Общая стоимость</td>
            <td style="font-weight: bold">{{cart.totalPrice}}</td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <p></p>
    <button class="btn btn-primary" ng-click="createOrder()">Оформить заказ</button>
    <p></p>
    <p></p>
    <p></p>
    <div ng-show="isUserLoggedIn()">
        <h3>Заказы</h3>
        <p></p>
        <div ng-repeat="o in orders" >
            <h5>Заказ № {{o.id}}</h5>
            <h6>Общая стоимость: {{o.totalPrice}}</h6>
            <h6>Дата создания: {{o.createdAt}}</h6>
            <p></p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Цена за шт.</th>
                    <th>Количество</th>
                    <th>Стоимость</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in o.items">
                    <td>{{p.id}}</td>
                    <td>{{p.productTitle}}</td>
                    <td>{{p.pricePerProduct}}</td>
                    <td>{{p.quantity}}</td>
                    <td>{{p.price}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!--    <h3>Добавить продукт</h3>-->
    <!--    <p></p>-->
    <!--    <form class="row g-3" ng-submit="createNewProduct()">-->
    <!--        <div class="col-auto">-->
    <!--            <input type="text" class="form-control" id="newProductTitle" ng-model="newProduct.title"-->
    <!--                   placeholder="Название">-->
    <!--        </div>-->
    <!--        <div class="col-auto">-->
    <!--            <input type="number" class="form-control" id="newProductPrice" ng-model="newProduct.price"-->
    <!--                   placeholder="Цена">-->
    <!--        </div>-->
    <!--        <div class="col-auto">-->
    <!--            <select class="form-control" id="newProductCategoryTitle" ng-model="newProduct.categoryTitle">-->
    <!--                <option ng-repeat="c in categories">{{c.title}}-->
    <!--                </option>-->
    <!--            </select>-->
    <!--        </div>-->
    <!--        <div class="col-auto">-->
    <!--            <button type="submit" class="btn btn-primary mb-3">Создать</button>-->
    <!--        </div>-->
    <!--    </form>-->
</div>
</body>
</html>